/*
?hsDebug=true&hsCacheBuster
*/
body {
	margin: 0;
}
p {
	font-family: "Poppins";
}
h1, h2, h3, h4 {
	font-family: "Ag";
	//letter-spacing: -0.05em;
}

a.button {
	font-family: 'Poppins';
}

.container > .container-fluid {
	padding-left: 0;
	padding-right: 0;
}

header {
  .header-items {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
    .brand {
		img {
			width: 125px;//test
			@include breakpoint(mobile){
				width: 70px;
			}
		}
    }
    nav.main-navigation {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		ul, li {
			list-style: none;
			padding: 0;
			margin: 0;
		}
		> div.hs-menu-wrapper {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-end;
			@include breakpoint(mobile){
				flex-flow: column;
				position: absolute;
				z-index: 100;
				width: calc(100% + 15px);
				left: -15px;
				top: 70px;
			}
			> ul { //role="menu"
				display: flex;
				flex-flow: row;
				justify-content: flex-end;
				position: relative;
				@include breakpoint(mobile){
					flex-flow: column;
				}
				> li {
					margin-left: 15px;
					a {
						font-family: 'Ag';
						font-size: 18px;
						font-weight: 900;
						letter-spacing: 0.025em;
						display: block;
						background-color: $brandcolor;
						border: solid 1px $black15;
						color: $white;
						border-radius: 4px;
						padding: 0.25em 2em 0.1em 2em;
						@include breakpoint(mobile){
							border-radius: 0;
							padding-left: 15px;
							border: none;
						}
						&:hover {
							text-decoration: none;
						}
					}
					&.hs-item-has-children {
						.hs-menu-children-wrapper {
							display: none; 
							position: absolute;
							top: 32px;
							box-shadow: 0 0 5px $black50;
							border-radius: 6px;
							@include breakpoint(mobile){
								display: flex;
								flex-flow: row wrap;
								justify-content: flex-start;
								position: static;
								border-radius: 0;
								background: #DDD;
							}
							li {
								@include breakpoint(mobile){
									width: 50%;
								}
								&:first-child {
									a {
										border-top: solid 1px $black50;
										border-top-right-radius: 6px;
										@include breakpoint(mobile){
											border-top: none;
											border-radius: 0;
										}
									}
								}
								a {
									border-radius: 0;
									font-size: 14px;
									font-weight: 700;
									letter-spacing: -0.015em;
									border-top: solid 1px rgba(255,255,255,0.75);
									margin: 0;
									padding-top: 5px;
									padding-bottom: 5px;
									padding-left: 1em;
									padding-right: 1.2em;
									background: #DDD;
									color: $textcolor;
									white-space: nowrap;
									@include breakpoint(mobile){
										white-space: normal;
										border-radius: 0;
										line-height: 1.1em;
										border: none;
									}
									&:hover {
										background: #999;
										color: #FFF;
										border-top: solid 1px rgba(255,255,255,0.5);
									}									
								}
								&:last-child { 
									a {
										border-bottom-left-radius: 4px;
										border-bottom-right-radius: 4px;
										border-top-right-radius: 0;	
										@include breakpoint(mobile){
											border-radius: 0;
										}
									}
								}
							}
						}
						&:hover {
							.hs-menu-children-wrapper {
								display: block;
								z-index: 10;
							}
							> a {
								//background: $cta-red;
							}
						}
					}
				}
			}
		}
		ul {
			li.search { 
				margin-top: 0px;
				padding-left: 15px;
				a {
					text-indent: -9999px;
					background-color: $cta-blue;
					border-color: transparent;
					display: block;
					border-radius: 50px;
					height: 22px;
					width: 22px;
					margin-top: -1px;
					background-image: url('https://22042135.fs1.hubspotusercontent-na1.net/hubfs/22042135/icons/search-inverse.svg');
					background-size: 18px;
					background-repeat: no-repeat;
					background-position: 10px 10px;
					padding: 18px;						
				}
			}
		}
    }
  }
	.searchbar {
		padding: 0;
		background: #DDD;
		height: 0px;
		transition: all 500ms;
		overflow: hidden;
		position: relative;
		label {
			display: none;
		}
		&.active {
			height: 75px;
			padding: 15px;
		}
	  	.hs-search-field__form {
			position: relative;
			input.search {
				width: 100%;
				padding-top: 12px;
				padding-bottom: 8px;
				text-align: right;
				padding-right: 95px;
				font-family: 'Poppins';
			}
			.searchbutton {
				position: absolute;
				right: 0;
				top: 0;
				transition: all 250ms;
				background: #666;
				color: #fff;
				padding: 0 10px;				
				margin: 0;
				line-height: 43px;
				border: none;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				span {
					font-family: 'Ag';
					font-weight: 700;
				}
				&:hover {
					background: #333;
				}
			}			
		}
		.hs-search-field__suggestions-container {
			display: none;
		}
	}
}
 
footer {
	background: #B1C5D6;
	padding: 2em;
	color: $white;
	//font-family: 'Fa';
	@include breakpoint(mobile){
		text-align: center;
	}
	h1, h2, h3 {
		text-transform: uppercase;
	    color: $white;
	}
	.footerInfo { 
		p {
			font-size: 17px;
			padding-top: 5px;
			@include breakpoint(mobile){
				padding: 0;
				margin-bottom: 20px;
				text-align: center;
			}
		}
    .service-links {
      width: 222px;
		@include breakpoint(mobile){
			width: auto;
		}

      a.service-link {
        display: block;
        text-align: center;
        color: $white;
        margin-bottom: 25px;
        span {
          display: block;
          font-size: 13px;
          padding-top: 10px;
          letter-spacing: 0.5em;
          font-weight: 800;
		  font-family: 'Ag';
        }
        em {
          display: block;
          font-style: normal;
          font-size: 20px;
          font-weight: 900;
          letter-spacing: 0.25em;
          padding-bottom: 10px;
		  font-family: 'Ag';
        }
        &:hover {
          text-decoration: none;
          span, em {
            color: $brandcolor;
          }
          &:after {
            border-bottom: solid 1px $white;
          }
        }
        &:after {
          content: '';
          display: block;
          width: 175px;
          margin-left: 20px;
          height: 1px;          
          border-bottom: solid 1px $brandcolor;
			@include breakpoint(mobile){
				width: auto;
			}
        }
      }      
    }
	.global-links {
		border-bottom: solid 1px $white;
		margin-bottom: 15px;
		a {
			font-family: 'Ag';
			font-weight: 600;
			display: block;
			font-size: 18px;
			line-height: 1.25em;
			margin-bottom: 15px;
			color: $white;
		}
	}
		ul {
			padding: 0;
			border-bottom: solid 1px lighten($brandcolor, 50%);
			padding-bottom: 10px;
			@include breakpoint(mobile){
				border-top: solid 1px lighten($brandcolor, 50%);
				padding-top: 20px;
				padding-bottom: 10px;
				margin-bottom: 20px;
			}
			li {
				list-style-type: none;
				margin-bottom: 10px;
				a {
					font-family: "Comfortaa";
					color: $white;
					text-decoration: none;
					font-size: 16px;
					font-weight: bold;
					text-transform: uppercase;
					&:hover {
						color: #999;
					}
				}
			}
		}
	}
	.footerLogo {
   		text-align: center;
		img {
			width: 220px;
			margin: 50px auto 15px auto;
			display: block;
			@include breakpoint(mobile){
				width: 100px;
			}
		}
		span.footerLogoText {
			font-size: 20px;
			font-weight: 400;
			letter-spacing: 0.1em;
			font-family: 'Ag';
		}
		.social-links {
			display: flex;
			flex-flow: row;
			justify-content: center;
			margin-top: 45px;
			a {
				display: block;
				width: 25px;
				height: 25px;
				background-size: 22px;
				background-repeat: no-repeat;
				margin: 0 5px;
				filter:invert(100);
				text-indent: -999em;
				&.facebook {
					background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iMTAwJSIgc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgd2lkdGg9IjEwMCUiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2VyaWY9Imh0dHA6Ly93d3cuc2VyaWYuY29tLyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik00NDkuNDQ2LDBjMzQuNTI1LDAgNjIuNTU0LDI4LjAzIDYyLjU1NCw2Mi41NTRsMCwzODYuODkyYzAsMzQuNTI0IC0yOC4wMyw2Mi41NTQgLTYyLjU1NCw2Mi41NTRsLTEwNi40NjgsMGwwLC0xOTIuOTE1bDY2LjYsMGwxMi42NzIsLTgyLjYyMWwtNzkuMjcyLDBsMCwtNTMuNjE3YzAsLTIyLjYwMyAxMS4wNzMsLTQ0LjYzNiA0Ni41OCwtNDQuNjM2bDM2LjA0MiwwbDAsLTcwLjM0YzAsMCAtMzIuNzEsLTUuNTgyIC02My45ODIsLTUuNTgyYy02NS4yODgsMCAtMTA3Ljk2LDM5LjU2OSAtMTA3Ljk2LDExMS4yMDRsMCw2Mi45NzFsLTcyLjU3MywwbDAsODIuNjIxbDcyLjU3MywwbDAsMTkyLjkxNWwtMTkxLjEwNCwwYy0zNC41MjQsMCAtNjIuNTU0LC0yOC4wMyAtNjIuNTU0LC02Mi41NTRsMCwtMzg2Ljg5MmMwLC0zNC41MjQgMjguMDI5LC02Mi41NTQgNjIuNTU0LC02Mi41NTRsMzg2Ljg5MiwwWiIvPjwvc3ZnPg==");
				}
				&.linkedin {
					background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iMTAwJSIgc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgd2lkdGg9IjEwMCUiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2VyaWY9Imh0dHA6Ly93d3cuc2VyaWYuY29tLyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik00NDkuNDQ2LDBjMzQuNTI1LDAgNjIuNTU0LDI4LjAzIDYyLjU1NCw2Mi41NTRsMCwzODYuODkyYzAsMzQuNTI0IC0yOC4wMyw2Mi41NTQgLTYyLjU1NCw2Mi41NTRsLTM4Ni44OTIsMGMtMzQuNTI0LDAgLTYyLjU1NCwtMjguMDMgLTYyLjU1NCwtNjIuNTU0bDAsLTM4Ni44OTJjMCwtMzQuNTI0IDI4LjAyOSwtNjIuNTU0IDYyLjU1NCwtNjIuNTU0bDM4Ni44OTIsMFptLTI4OC45ODUsNDIzLjI3OGwwLC0yMjUuNzE3bC03NS4wNCwwbDAsMjI1LjcxN2w3NS4wNCwwWm0yNzAuNTM5LDBsMCwtMTI5LjQzOWMwLC02OS4zMzMgLTM3LjAxOCwtMTAxLjU4NiAtODYuMzgxLC0xMDEuNTg2Yy0zOS44MDQsMCAtNTcuNjM0LDIxLjg5MSAtNjcuNjE3LDM3LjI2NmwwLC0zMS45NThsLTc1LjAyMSwwYzAuOTk1LDIxLjE4MSAwLDIyNS43MTcgMCwyMjUuNzE3bDc1LjAyLDBsMCwtMTI2LjA1NmMwLC02Ljc0OCAwLjQ4NiwtMTMuNDkyIDIuNDc0LC0xOC4zMTVjNS40MTQsLTEzLjQ3NSAxNy43NjcsLTI3LjQzNCAzOC40OTQsLTI3LjQzNGMyNy4xMzUsMCAzOC4wMDcsMjAuNzA3IDM4LjAwNyw1MS4wMzdsMCwxMjAuNzY4bDc1LjAyNCwwWm0tMzA3LjU1MiwtMzM0LjU1NmMtMjUuNjc0LDAgLTQyLjQ0OCwxNi44NzkgLTQyLjQ0OCwzOS4wMDJjMCwyMS42NTggMTYuMjY0LDM5LjAwMiA0MS40NTUsMzkuMDAybDAuNDg0LDBjMjYuMTY1LDAgNDIuNDUyLC0xNy4zNDQgNDIuNDUyLC0zOS4wMDJjLTAuNDg1LC0yMi4wOTIgLTE2LjI0MSwtMzguOTU0IC00MS45NDMsLTM5LjAwMloiLz48L3N2Zz4=");
				}
				&.twitter {
					background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgd2lkdGg9IjI0cHgiIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNCAyNDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGQ9Ik0xNC4wOTU0NzksMTAuMzE2NDgyTDIyLjI4NjM1NCwxaC0xLjk0MDcxOGwtNy4xMTUzNTIsOC4wODc2ODJMNy41NTE0MTQsMUgxbDguNTg5NDg4LDEyLjIzMTA5M0wxLDIzaDEuOTQwNzE3ICBsNy41MDkzNzItOC41NDI4NjFMMTYuNDQ4NTg3LDIzSDIzTDE0LjA5NTQ3OSwxMC4zMTY0ODJ6IE0xMS40MzY1MjIsMTMuMzM4NDY1bC0wLjg3MTYyNC0xLjIxODcwNGwtNi45MjQzMTEtOS42ODgxNWgyLjk4MTMzOSAgbDUuNTg5NzgsNy44MjE1NWwwLjg2Nzk0OSwxLjIxODcwNGw3LjI2NTA2LDEwLjE2NjI3MWgtMi45ODEzMzlMMTEuNDM2NTIyLDEzLjMzODQ2NXoiLz48L3N2Zz4=");
				}
			}
		}

	}
	.footerContact {
		@include breakpoint(mobile){
			padding: 0 5em;
		}
		h3 {
			margin-top: 0;
      		//font-family: 'Fa';
      		font-weight: 400;
			a {
				color: $white;
				text-decoration: underline;
			}
		}
    h4 {
      color: $brandcolor;
      padding: 0;
      margin-bottom: 0px;
      margin-top: 15px;
	  font-size: 16px;
      font-weight: 800;
      letter-spacing: 0.05em;
    }
		p.location {
			padding-bottom: 15px;
      		margin-bottom: 15px;
      		font-size: 16px;
      		border-bottom: solid 1px $brandcolor;
			margin-top: 8px;
		}
    .contact-links {
		font-size: 16px;
		line-height: 30px;
		a {
			color: $white;
			&:before {
				content: '';
				display: inline-block;
				width: 15px;
				height: 15px;
				margin-right: 10px;
				background-repeat: no-repeat;
				filter: invert(100);
			}
			&.email {
				&:before {
					background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgY2xhc3M9ImJpIGJpLWVudmVsb3BlLWZpbGwiIGZpbGw9ImN1cnJlbnRDb2xvciIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2IiB3aWR0aD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS4wNSAzLjU1NUEyIDIgMCAwIDEgMiAyaDEyYTIgMiAwIDAgMSAxLjk1IDEuNTU1TDggOC40MTQuMDUgMy41NTVaTTAgNC42OTd2Ny4xMDRsNS44MDMtMy41NThMMCA0LjY5N1pNNi43NjEgOC44M2wtNi41NyA0LjAyN0EyIDIgMCAwIDAgMiAxNGgxMmEyIDIgMCAwIDAgMS44MDgtMS4xNDRsLTYuNTctNC4wMjdMOCA5LjU4NmwtMS4yMzktLjc1N1ptMy40MzYtLjU4NkwxNiAxMS44MDFWNC42OTdsLTUuODAzIDMuNTQ2WiIvPjwvc3ZnPg==");
				}
			}
			&.phone {
				&:before {
					background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDI1NiAyNTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3QgZmlsbD0ibm9uZSIgaGVpZ2h0PSIyNTYiIHdpZHRoPSIyNTYiLz48cGF0aCBkPSJNMjIyLDE1OC40bC00Ni45LTIwYTE1LjYsMTUuNiwwLDAsMC0xNS4xLDEuM2wtMjUuMSwxNi43YTc2LjUsNzYuNSwwLDAsMS0zNS4yLTM1aDBMMTE2LjMsOTZhMTUuOSwxNS45LDAsMCwwLDEuNC0xNS4xTDk3LjYsMzRhMTYuMywxNi4zLDAsMCwwLTE2LjctOS42QTU2LjIsNTYuMiwwLDAsMCwzMiw4MGMwLDc5LjQsNjQuNiwxNDQsMTQ0LDE0NGE1Ni4yLDU2LjIsMCwwLDAsNTUuNi00OC45QTE2LjMsMTYuMywwLDAsMCwyMjIsMTU4LjRaIi8+PC9zdmc+");
				}
			}
	  	}
    }
 
	}

	.footerLinks {
		text-align: right;
		padding-top: 1.35em;
	}

	.footerLinks a {
		color: #fff;
		font-size: 75%;
		padding-left: 2em;
		@include breakpoint(mobile){
			display: inline-block;
			text-align: center;
			padding: 0.5em 1em;
		}
	}

	.footerTestimonials {
		a {
			color: $white;
		}
	}

	&.footerBottom {
		padding: 1em;
		border-top: solid 1px #4a4596;
		@include breakpoint(mobile){
			padding: 0;
			padding-bottom: 1em;
		}
	}
}

body.vertical-electrical {
	header {
		.header-items {
			nav.main-navigation {
				ul {
					> li {
						a {
							background-color: $elec-nav;
							border-color: $nav-trace-elec;
							color: $white;
							&:hover {
							background-color: $brandcolor-hover;
							}
						}
						&:hover {
							a {
								background-color: $nav-trace-elec;
							}
						}

					}
				}
			}
		}
	}
	footer {
		background: $elec-footer;
		color: $white;
		h1, h2, h3 {
			color: $white;
		}
		.footerInfo { 
			.service-links {
				a.service-link {
					color: $white;
					&:hover {
						span, em {
							color: $elec-light;
						}
						&:after {
							border-bottom: solid 1px $white;
						}
					}
					&:after {
						border-bottom: solid 1px $elec-light;
					}
				}      
			}
			.global-links {
				border-bottom: solid 1px $cta-yellow;
				a {
					color: $white;
				}
			}		
			ul {
				border-bottom: solid 1px lighten($elec-footer, 50%);
				@include breakpoint(mobile){
					border-top: solid 1px lighten($elec-footer, 50%);
				}
				li {
					a {
						color: $white;
						&:hover {
							color: #999;
						}
					}
				}
			}
		}
		.footerLogo {
			img {
				margin-top: 0;
				margin-bottom: 0;
				width: 300px;

			}
			span.footerLogoText {
				display: block;
				letter-spacing: 0.5em;
				font-weight: 100;
				margin-bottom: 0;
				line-height: 1.75em;
				span {
					display: block;
					font-size: 32px;
					font-weight: 400;
				}
			}
		}
		.footerContact {
			h3 {
				a {
					color: $white;
				}
			}
			h4 {
				color: $elec-salmon;
			}
			p.location {
				border-bottom: solid 1px $cta-yellow;
			}
		}
		.footerLinks a {
			color: #fff;
		}
		.footerTestimonials {
			a {
				color: $white;
			}
		}
		&.footerBottom {
			border-top: solid 1px $elec-light;
		}
	}
}

body.vertical-environmental {
	header {
		.header-items {
			nav.main-navigation {
				ul {
					> li {
						a {
							background-color: $env-nav;
							border-color: $nav-trace-env;
							color: $white;
							&:hover {
								background-color: $nav-trace-env;
							}
						}
						&.search {
							a {
								background-color: $black50;
								border-color: transparent;
							}
						}
						&:hover {
							a {
								background-color: $nav-trace-env;
							}
						}
					}
				}
			}
		}
	}
	footer {
		background: $env-footer;
		color: $white;
		h1, h2, h3 {
			color: $white;
		}
		.footerInfo { 
			.service-links {
				a.service-link {
					color: $white;
					&:hover {
						span, em {
							color: $env-light;
						}
						&:after {
							border-bottom: solid 1px $white;
						}
					}
					&:after {
						border-bottom: solid 1px $env-light;
					}
				}      
			}
			.global-links {
				border-bottom: solid 1px $env-light;
				a {
					color: $white;
				}
			}		
			ul {
				border-bottom: solid 1px lighten($env-footer, 50%);
				@include breakpoint(mobile){
					border-top: solid 1px lighten($env-footer, 50%);
				}
				li {
					a {
						color: $white;
						&:hover {
							color: #999;
						}
					}
				}
			}
		}
		.footerLogo {
			img {
				margin-top: 0;
				margin-bottom: 0;
				width: 300px;
			}
			span.footerLogoText {
				display: block;
				letter-spacing: 0.5em;
				font-weight: 100;
				margin-bottom: 0;
				line-height: 1.75em;
				span {
					display: block;
					font-size: 32px;
					font-weight: 400;
				}
			}
		}
		.footerContact {
			h3 {
				a {
					color: $white;
				}
			}
			h4 {
				color: $env-melon;
			}
			p.location {
				border-bottom: solid 1px $env-light;
			}
		}
		.footerLinks a {
			color: #fff;
		}
		.footerTestimonials {
			a {
				color: $white;
			}
		}
		&.footerBottom {
			border-top: solid 1px $env-light;
		}
	}
}

body.vertical-electrical main {
	p, ul, li, span, .landing-service-grid .service {
		a {
			color: $cta-red;
			//temporary debug/troubleshooting background;
			//background-color: rgba(0,0,0,0.1) !important;
		}
	}
}

body.vertical-environmental main {
	p, ul, li, span, .landing-service-grid .service {
		a {
			color: $cta-green;
			//temporary debug/troubleshooting background;
			//background-color: rgba(0,0,0,0.1) !important;
		}
	}
	
		
}

body.vertical-corporate main {
	p, ul, li, span, .landing-service-grid .service {
		a {
			color: $cta-blue;
			//temporary debug/troubleshooting background;
			//background-color: rgba(0,0,0,0.1) !important;
		}
	}
}

.search-result-container {
	h1 {
		span {
			color: $cta-red;
		}
	}
	.hs-search-results {
		a {
			h2 {
				text-decoration: underline;
			}
		}
		.hs-search-highlight {
			color: $cta-red;
		}
	}
	.hs-search-results__pagination {
		margin-bottom: 30px;
		a {
			font-family: 'Poppins';
			padding: .35rem .7rem;
			background: #999;
			color: $white;
			border-radius: 4px;
			&:hover {
				background: $cta-blue;
			}
		}
	}
}